<!DOCTYPE html>
<html lang="en-US">
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
<h2 style="font-size: 45px; ">Login Here</h2>
<form id="loginpage">
<input type="text" id="username" name="username"
placeholder="Username" ng-model="username" required>
<span ng-show="myForm.username.$touched &&
myForm.username.$invalid">Username is required</span><br><br>
<input type="password" id="password" name="password"
placeholder="Password" ng-model="password" required>
<span ng-show="myForm.password.$touched &&
myForm.password.$invalid">Password is required</span><br><br>
<button class="btn" id="login" ng-disabled="myForm.$invalid"
ng-click="login()">Login</button>
</form>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
$scope.myForm = {};
$scope.login = function(){
if($scope.username === 'vaishnavi_kshirsagar' && $scope.password === '1234'){
alert('Login Successful');
}else{
alert('Invalid Credentials');
}
}
});
</script>
</body>
</html>